*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    min-height: 100vh;
    background: #F3F5F7;
}


.logout_button{

    &:hover{
        cursor: pointer;
    }
}
.main_navigation{
    position: relative;
    height: 100vh;
    border: 1p solid red;
    padding: 15px;
    padding-right: 0px;
    .navigation{
        position: relative;
        min-height: 100%;
        width: 80px;
        border-radius: 10px;
        border-left: 5px solid #7152EB;
        background: #7152EB;
        transition: width 0.5s;
    }
}



.navigation ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active{
    background: #F3F5F7;
}


.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #F3F5F7;
    display: none;
}

.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7152EB;
    border-bottom-right-radius: 20px;
}

.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #F3F5F7;
    display: none;
}

.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7152EB;
    border-top-right-radius: 20px;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration : none;
    color:#F3F5F7;
}


.navigation ul li.active a{
    color:#7152EB;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 62px;
    line-height: 70px;
    text-align: center;
    //background-color: red;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-Left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #7152EB;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active{
    background: #ff4d89;
}
