@import '../../util/theme.scss';

.input-container {
    flex: 1;
    display: flex;
    margin-top: 24px;
    padding: 1rem;
    padding: 16px, 20px, 16px, 20px;
    border-radius: 4px;
    border: 0px;
    color: $darkGray;
    background-color: $lightGray;

    .input-style {
        width: 100%;
        padding: 16px, 20px, 16px, 20px;
        border-radius: 4px;
        border: 0px;
        color: $darkGray;
        background-color: $lightGray;
    }

    .input-style:focus {
        outline: none;
    }

    .password-icon:hover{
        cursor: pointer;
    }
}

.error_style{
    color: red;
}