

.graph{
    margin-top: 40px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}