@import '../../../../util/theme.scss';

.edit_student_profile_container {

    .student_details_container{
        flex-direction: row;
        display: flex;
        margin-top: 50px;
    }

    .details_cardC1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 265px;
        margin-right: 20px;
    }

    .student_associated_details{
        padding: 20px;
        border-radius: 15px;
        margin-right: 20px;
        height: 265px;
        background-color: rgba(151, 102, 255, 0.3);
    }

    
    .profile_header{
        background: linear-gradient(to right, #7152EB, #F67D56);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 15px;
        flex-direction: column;
        position: relative;
    }

    .profile_img_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .user_img{
        height: 140px;
        width: 140px;
        border-radius: 70px;
        margin: 15px;
        border: 3px solid white;
    }

    .user_name{
        font-size: 30px;
        color: #F3F5F7;
        font-weight: bold;
    }

    .user_description{
        font-size: 20px;
        color: #F3F5F7;
    }

    .edit_container{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 20px;
    }

    .profile_details_container{
        margin-top: 50px;
        flex-direction: row;
        display: flex;
    }

    .profile_details1{
        padding: 20px;
        border-radius: 15px;
        margin-right: 20px;
        background-color: rgba(151, 102, 255, 0.3);
    }

    .associated_user_name{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
        text-align: center;
    }

    .associated_user{
        font-size: 20px;
        color: #7152EB;
        font-weight: bold;
        text-align: center;
    }

    .associated_user_img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: 15px;
        border: 2px solid rgba(0, 0, 0, 0.2);
    }


    .associated_img_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .view_profile{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 10px;

        &:hover{
            cursor: pointer;
        }
    }

    .profile_details2{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .details_card1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: 122px;
        margin-right: 10px;
    }

    .details_card2{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: 122px;
        margin-left: 10px;
    }

    .profile_details_row1{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .profile_details_row2{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .details_heading{
        font-size: 20px;
        color: #4715D7;
        font-weight: bold;
    }

    .details_sub_heading{
        font-size: 18px;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6)
    }


    .details_width{
        width: 200px;
    }

    .camera_container{
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #7152EB;
        border: 2px solid white;
        border-radius: 20px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        
        &:hover{
            cursor: pointer;
        }
    }

    
    .edit_icon{   
        height: 24px;
        width: 24px;
        margin: 10px;
        &:hover{
            cursor: pointer;
        }
    }

    
    .edit_icon_container{
        position: absolute;
        top: 0px;
        right: 0px;
    }



    // .address{
    //     width: 200px;
    //     overflow-x: auto;
    //     background-color: red;
    //     &::-webkit-scrollbar{
    //         height: 20px;
    //         border-radius: 10px;
            
    //         &-thumb{
    //             background-color: rgba(109, 168, 255, 0.6);
    //             border-radius: 10px;
    //         }
    //         &-track{
    //             margin: 10px 0 10px 0;
    //             background-color: rgba(109, 168, 255, 0.15);
    //             border-radius: 10px;
    //         }
    // }
    // }

    .address{
        display: flex;
        overflow-x: auto;
        border: 1px solid red;
        width: 100px;
        height: 100px;
        position: relative;
    }
    


    







    .student_details_container{
        flex-direction: row;
        display: flex;
        margin-top: 50px;
    }

    .student_details_container1{
        flex-direction: row;
        display: flex;
        margin-top: 20px;
    }

    .details_cardC1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 265px;
        margin-right: 20px;
    }

    .details_card_values{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 380px;
       // margin-right: 20px;
    }

    .student_associated_details{
        padding: 20px;
        border-radius: 15px;
        margin-right: 20px;
        height: 265px;
        background-color: rgba(151, 102, 255, 0.3);
    }


    .profile_header{
        background: linear-gradient(to right, #7152EB, #F67D56);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 15px;
        flex-direction: column;
        position: relative;
    }

    .profile_img_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .user_img{
        height: 140px;
        width: 140px;
        border-radius: 70px;
        margin: 15px;
        border: 3px solid white;
    }

    .user_name{
        font-size: 30px;
        color: #F3F5F7;
        font-weight: bold;
    }

    .user_description{
        font-size: 20px;
        margin-top: 10px;
        color: #F3F5F7;
    }

    .edit_container{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 20px;
    }

    .profile_details_container{
        margin-top: 50px;
        flex-direction: row;
        display: flex;
    }

    .profile_details1{
        padding: 20px;
        border-radius: 15px;
        margin-right: 20px;
        background-color: rgba(151, 102, 255, 0.3);
    }

    .associated_user_name{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
        text-align: center;
    }

    .associated_user{
        font-size: 20px;
        color: #7152EB;
        font-weight: bold;
        text-align: center;
        width: 100px;
    }

    .associated_user_img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: 15px;
        border: 2px solid rgba(0, 0, 0, 0.2);
    }


    .associated_img_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .view_profile{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 10px;

        &:hover{
            cursor: pointer;
        }
    }

 

    .details_card1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: 122px;
        margin-right: 10px;
    }

 
    .values_container{
        align-items: center;
        //justify-content: center;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        overflow-y: auto;
        padding: 15px;
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
    }
    }

}