@import '../../../util/theme.scss';

.container {
    //align-items: center;
   // display: flex;
   // justify-content: center;
   // flex-direction: column;

    .button-style{
        //background-color: red;
    }

    .table-header{
        background-color: $greyish;
        padding: 0.5rem;
        border-radius: 6px;
        display: flex;
        margin-top: 15px;
    }

    .table-content{
        padding: 0.5rem;
        border-radius: 6px;
        display: flex;
        margin-top: 10px;
    }

    .table-content-container{
        background-color: $lightBlue;
    }

    .heading{
        width: 200px;
    }

    .sub-heading{
        width: 200px;
        font-size: 14px;
        color: $darkGray;
    }

    .sub-heading-blue{
        width: 200px;
        font-size: 14px;
        color: $link;
    }

    .margin-top{
        margin-top: 10px;
    }

    .margin-right{
        margin-right: 10px;
    }

    .margin-left{
        margin-left: 10px;
    }

    .rowItem{
        flex-direction: column;
    }

    .columnItem{
        flex-direction: row;
        display: flex;
    }

    .viewTest{
        color: $link;
        margin-top: 8px;
        font-size: 12px;
    }
    .viewTest:hover{
        color: $link;
        margin-top: 8px;
        font-size: 12px;
        cursor: pointer;
    }

    .editTest{
        color: $link;
        font-size: 12px;
        text-decoration: underline;
    }

    .editTest:hover{
        color: $link;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }

    .deleteTest{
        color: $reddish;
        margin-top: 8px;
        font-size: 12px;
        text-decoration: underline;
    }

    .deleteTest:hover{
        color: $reddish;
        margin-top: 8px;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }


    .row-space{
        display: flex;
        justify-content: space-between;
    }
}