@import '../../util/theme.scss';

.button-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .primary{
        background-color: $primary;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;
    }
    .button {
        background-color: $lightYellow;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;
    }

    .button-text {
        color: $darkGray;
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
    }

    .primary-text {
        color: white;
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
    }
 
    .button:hover{
        cursor: pointer;
    }

    .primary:hover{
        cursor: pointer;
    }

    .secondary:hover{
        cursor: pointer;
    }

    .secondary-icon:hover{
        cursor: pointer;
    }



    .secondary{
        background-color: $secondary;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;
    }

    .secondary-text {
        color: $primary;
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
    }

    .secondary-icon{
        background-color: $secondary;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;
    }


    .secondary-icon-text {
        color: $primary;
        margin-right: 6px;
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
    }

}