//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Colors
$blackish: #000000;
$greyish: #E9EBEF;
$primary: #7152EB;
$purple: #6D5EF6;
$lightGray: #E9ECEF;
$darkGray: #7C859C;
$greenish: #558B2F;
$link: #6485E2;
$lightYellow: #EFEAB8;
$lightRed: #FFF1F0;
$reddish: #E02B1D;
$bgColor: #f3f5f7;

$musturd: #F6A429;
$secondary: #D9BBFF;

$offWhite: #F2F0F0;
$link: #6485E2;
$lightBlue: #FAFDFF;
//$secondary: #E9EBEF;
$red: #E02B1D;
$yellow: #E4D86F;
$green: #009262;

// Spacing
$paddingTiny: 10px;
$paddingVerySmall: 20px;
$paddingSmall: 30px;
$paddingMedium: 40px;
$paddingLarge: 50px;

$marginTiny: 10px;
$marginSmall: 20px;
$marginRegular: 30px;
$marginMedium: 40px;
$marginLarge: 50px;


// Font
$fontSizeTiny: 10px;
$fontSizeRegular: 12px;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeBig: 20px;
$fontSizeBigger: 26px;
$fontSizeLarger: 32px;
$fontSizeHuge: 48px;

$fontWeightlight: 400;
$fontWeightMedium: 500;
$fontWeightHeavy: 600;
$fontWeightBold: 700;


$quicksand: 'Quicksand', sans-serif;;

