@import '../../util/theme.scss';

.container {
    //align-items: center;
   // display: flex;
   // justify-content: center;
   // flex-direction: column;

    .button-style{
        //background-color: red;
    }

    .table-header{
        background-color: red;
        display: flex;
    }
}