@import '../../../util/theme.scss';

.dashboard_container{
    .big_calender{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        flex-direction: column;
        height: 85vh;
    }
}

.flex-start{
    justify-content: flex-start;
    display: flex;
}