@import '../../../util/theme.scss';

.bold{
    font-weight: bold;
}

.ml-5{
    margin-top: 5px;
}

.mr-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}


.mb-20{
    margin-bottom: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}


.mr-20{
    margin-right: 20px;
}

.mr-20{
    margin-right: 20px;
}


.fd-r{
    flex-direction: row;
}

.fd-c{
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.jc-se{
    justify-content: space-evenly;
}


.ai-c{
    align-items: center;
}
.jc-c{
    justify-content: center;
}

.d-f{
    display: flex;
}

.pos-rel{
    position: relative;
}

.full-width{
    width: 100%;
}

.parent-profile-deatils{


    .label{
        font-size: 20px;
        color: #4715D7;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 12px;
    }

    .container{
        background-color: white;
        border-radius: 10px;
        flex-direction: column;
        overflow-y: auto;
        padding: 20px;
        justify-content: start;
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
    }
    }
}



.parent-dash-container {
    justify-content: space-between;
    display: flex;
}

.parent-dash-container1 {
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-right: 20px;
}

.parent-dash-container2 {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 70%;
}

.your-profile-container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

