@import '../../../util/theme.scss';

.tutor_profile_container {
   
    .image_blur{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F3F5F7 100%);
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0px;
    }

    .student_details_container{
        flex-direction: row;
        display: flex;
        margin-top: 50px;
    }

    .student_details_container1{
        flex-direction: row;
        display: flex;
        margin-top: 20px;
    }

    .details_cardC1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 265px;
        margin-right: 20px;
    }

    .education_details_card{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 130px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .education_details_card1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 160px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
    }


    .details_card_values{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 450px;
       // margin-right: 20px;
    }

    .student_associated_details{
        padding: 20px;
        border-radius: 15px;
        margin-right: 20px;
        height: 265px;
        background-color: rgba(151, 102, 255, 0.3);
    }


    .profile_header{
        //background: linear-gradient(to right, #7152EB, #F67D56);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        flex-direction: column;
        position: relative;
    }

    .profile_img_container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .user_img{
        height: 140px;
        width: 140px;
        border-radius: 70px;
        margin: 15px;
        border: 3px solid white;
    }

    .user_name{
        font-size: 30px;
        color: #4F33BD;
        font-weight: bold;
    }

    .user_description{
        font-size: 20px;
        margin-top: 10px;
        color: #4F33BD;
    }

    .edit_container{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 20px;
    }

    .profile_details_container{
        margin-top: 50px;
        flex-direction: row;
        display: flex;
    }

    .profile_details1{
        padding: 20px;
        border-radius: 15px;
        margin-right: 20px;
        background-color: rgba(151, 102, 255, 0.3);
    }

    .associated_user_name{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
        text-align: center;
    }

    .associated_user{
        font-size: 20px;
        color: #7152EB;
        font-weight: bold;
        text-align: center;
        width: 100px;
    }

    .associated_user_img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: 15px;
        border: 2px solid rgba(0, 0, 0, 0.2);
    }


    .associated_img_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .view_profile{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 10px;

        &:hover{
            cursor: pointer;
        }
    }

    .profile_details2{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .details_card1{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: 122px;
        margin-right: 10px;
    }

    .details_card2{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: 122px;
        margin-left: 10px;
    }


    .details_card_description{
        background-color: rgba(217, 217, 217, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        //height: 122px;
        margin-left: 10px;
    }

    .profile_details_row1{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .profile_details_row2{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .details_heading{
        font-size: 20px;
        color: #4715D7;
        font-weight: bold;
        text-align: center;
    }

    .details_sub_heading{
        font-size: 18px;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6)
    }

    .details_description{
        font-size: 18px;
        margin-top: 10px;
        line-height: 25px;
        padding: 20px;
        color: rgba(0, 0, 0, 0.6)
    }


    .details_width{
        width: 200px;
    }

    // .address{
    //     width: 200px;
    //     overflow-x: auto;
    //     background-color: red;
    //     &::-webkit-scrollbar{
    //         height: 20px;
    //         border-radius: 10px;
            
    //         &-thumb{
    //             background-color: rgba(109, 168, 255, 0.6);
    //             border-radius: 10px;
    //         }
    //         &-track{
    //             margin: 10px 0 10px 0;
    //             background-color: rgba(109, 168, 255, 0.15);
    //             border-radius: 10px;
    //         }
    // }
    // }

    .address{
        display: flex;
        overflow-x: auto;
        border: 1px solid red;
        width: 100px;
        height: 100px;
        position: relative;
    }
    
    .values_container{
        align-items: center;
        //justify-content: center;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        overflow-y: auto;
        padding: 15px;
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
    }
    }

}