@import '../../../util/theme.scss';

.icon-button-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .icon-button{
        //background-color: $primary;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;
    }

    .icon-button-text {
        color: #fff;
        margin-right: 6px;
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
    }

    .icon-button:hover{
        cursor: pointer;
    }

}


.input__file{
    padding: 12px 20px 12px 20px;
    max-width: 180px;
    min-width: 180px;
    height: 50px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: max-content;
    display: flex;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    background-color: $primary;
}
