@import '../../../../util/theme.scss';

 
    .create_session_content{
        height: 450px;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
        padding: 20px;
        justify-content: start;
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
        }
    }

    .week_Days{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 20px;
        color: black;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover{
            cursor: pointer;
        }
    }


.create_session_modal{
   
    .main_container{
        height: 200px;
        border: 1px solid red !important;
        background-color: red;
        max-height: 200px !important;
        border-radius: 10px;
        flex-direction: column;
        overflow-y: auto;
        padding: 20px;
        justify-content: start;
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
        }
    }



    .container {
        //align-items: center;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    
    }

    .heading-text{
        //display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #25335A;
        font-weight: 500;
        font-size: 20px;
        width: 600px;
    }
    .content-text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .row-style{
        flex-direction: row;
        display: flex;
        padding: 20px;
        width: 560px;
    }

    .margin-left{
        margin-left: 10px;
        width: 270px;
    }

    .margin-right{
        margin-right: 10px;
        width: 270px;
    }


.center-container{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

}