@import '../../../util/theme.scss';

.slider-container{
   position: relative;
    width: 500px;
}

.carousel-container{
    background: linear-gradient(to right, #7306E0, #8D68F3);
    border-radius: 20px;
    height: 250px;
    padding: 15px;
}

.main-carousel{
    padding: 15px;
}
.carousel-dots{
    z-index: 99999;
    bottom: 20px;
    color: white;
    position: absolute;
}

.carousel-image{
    height: 200px;
    width: 250px;
    position: absolute;
    right: 0;
}

.carousel-text{
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: white;
    margin: 15px 0px 0px 15px;
}