@import '../../../util/theme.scss';


.tutor_container{

    
    .tutor-slider-container{
        position: relative;
        width: 250px;
    }
    
    .tutor-carousel-container{
        background: #FFD076;
        border-radius: 20px;
        height: 250px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .tutor-main-carousel{
        padding: 15px;
    }
    .tutor-carousel-dots{
        z-index: 99999;
        bottom: 20px;
        color: white;
        position: absolute;
    }
    
    .tutor-carousel-image{
        height: 50px;
        width: 50px;
        // position: absolute;
        // right: 0;
    }
    
    .tutor-carousel-text{
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        color: white;
        margin: 15px 0px 0px 15px;
    }
}

