@import '../../../../util/theme.scss';

.container {
    //align-items: center;
   // display: flex;
   // justify-content: center;
   // flex-direction: column;
}

.flex-start{
    justify-content: flex-start;
    display: flex;
}

.button-style{
    //background-color: red;
}

.concept-row-container{
    flex-direction: row;
    align-items: center;
    display: flex;
}


.concept-column-container{
    width: 500px;
}

.subject-score{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.concept-container{
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 800px;
    text-align: left;
}

.concept-heading{
    text-align: left;
    width: 100%;
    padding-top: 8px;
    color: #000000;
}


.subject-concept-main-container{
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(113, 82, 235, 0.3);
}

.concept-heading-title{
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    width: 100%;
}


.subject-main-container{
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subject-container{
    background-color: $primary;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    padding: 10px;
    margin-right: 20px;
    width: 120px;
}

.subject-container:hover{
   cursor: pointer;
}

.test-details-row-container{
    width: 700px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.test-details-row{
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.test-details-heading{
    font-size: 18px;
    margin-right: 5px;
    color: #00000060;
    width: 140px;
}

.test-details-colon{
    font-size: 18px;
    margin-right: 5px;
    color: #00000060;
    width: 20px;
}


.test-details-sub-heading{
    font-size: 18px;
    margin-right: 5px;
    color: #000000;
}

.test-details-title{
    font-size: 30px;
    margin-top: 20px;
    color: #25335A;
    font-weight: bold;
}


.assigned-test-table-header{
    flex-direction: row;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}

.assigned-test-table-content{
    padding: 0.1rem;
    border-radius: 10px;
    display: flex;
    //margin-top: 10px;
}

.assigned-test-table-content-container{
}

.assigned-test-heading{
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.assigned-test-sub-heading{
    width: 150px;
    font-size: 14px;
    color: $darkGray;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.1rem;
}

.rowItem{
    flex-direction: column;
}

.viewTest{
    color: $link;
    margin-top: 8px;
    font-size: 12px;
}
.viewTest:hover{
    color: $link;
    margin-top: 8px;
    font-size: 12px;
    cursor: pointer;
}

.editTest{
    color: $link;
    font-size: 12px;
    text-decoration: underline;
}

.editTest:hover{
    color: $link;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.deleteTest{
    color: $reddish;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: underline;
}

.deleteTest:hover{
    color: $reddish;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}


.back-button-container{
    justify-content: flex-start;
    display: flex;
    margin-top: 10px;
}