@import '../../util/theme.scss';

.divider-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .divider {
        width: 90%;
        margin: 2rem;
        border: 1px solid $lightGray;
    }

}