@import '../../../util/theme.scss';

.signup-page {
    position: absolute;
    background: $primary;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .signin_or_signup_container{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        display: flex;
        width: 100%;
    }

    .signin_or_signup{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 18px;
        color: gray;
    }

    .signin_or_signup_text{
        margin-left: 10px;
        font-size: 20px;
        color: #7152EB;
        text-decoration: underline;

        &:hover{
            cursor: pointer;
        }
    }

    .stepClass{
        background-color: red;
    }

    .progressClass{
        background-color: green;
        color: red;
    }

    .wrapperClass{
        background-color: green;
    }

    .logo-container{
        display: flex;
        flex: 1;
        background-color:#7152EB;
    }

    .content-container{
        display: flex;
        flex: 1;
        padding: 2rem;
        color: black;
        flex-direction: column;
        background-color: #fff;
        justify-content: space-between;
    }

    .heading{
        font-size: $fontSizeHuge;
        font-weight: $fontWeightHeavy;
        color: black;
    }

    .title{
        font-size: $fontSizeLarger;
        font-weight: $fontWeightMedium;
        padding-top: 4rem;
        padding-bottom: 3rem;
        color: black;
    }

    .forget-container{
        display: flex;
        justify-content: flex-end;
    }

    .forgetpassword{
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
        padding-top: 0.5rem;
        padding-bottom: 3rem;
        color: $link;
    }

    .forgetpassword:hover{
        cursor: pointer;
    }


    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .not-a-member-container{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .not-a-member{
        font-size: $fontSizeBig;
        font-weight: $fontWeightlight;
        // padding-top: 4rem;
        // padding-bottom: 3rem;
        color: $darkGray;
    }

    .signup-text{
        font-size: $fontSizeBigger;
        font-weight: $fontWeightMedium;
        padding-top: 0.5rem;
        padding-bottom: 3rem;
        color: $link;
    }

    .signup-text:hover{
        cursor: pointer;
    }
    .toast {
        background-color: $lightRed;
        color: $reddish;
    }
    

}