@import '../../../util/theme.scss';

.icon-button-container {
    align-items: center;
    display: flex;
    justify-content: center;



    .icon-button{
        background-color: $secondary;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;
    }

    .back-button-text {
        color: #636363;
        margin-right: 6px;
        font-size: $fontSizeMedium;
        font-weight: $fontWeightlight;
    }

    .icon-button:hover{
        cursor: pointer;
    }

}