@import '../../../util/theme.scss';

.invoice-container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 80px;
}

.additional-notes-row{
    margin-top: 20px;
    flex-direction: column;
    display: flex;
}

.invoice-table-header{
    flex-direction: row;
    display: flex;
    margin-top: 45px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    background-color: $primary;
}


.invoice-details-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.invoice-details-left{
    width: 110px;
    color: #00000060;
}

.invoice-details-right{
    color: #000000;
}

.invoice-details-row{
    display: flex;
    align-items: center;
    flex-direction: row;
}


.invoice-details{

}