@import '../../util/theme.scss';

.attendance_container{
    //background-color: red;
}

.class_details_container{
    border: 1px solid black;
    width: 30vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    

    .class_details_name_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }


    .name_icon_style{
        height: 60px;
        width: 60px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple;
        color: white;
        font-size: 24px;
        margin-right: 20px;
        font-weight: bold;
    }

    .name_style{

    }
}

.class_details_container:hover{
    cursor: pointer;
}


.todays_title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.options_container{
    border: 1px solid $purple;
    width: 30vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.options_container:hover{
    cursor: pointer;
}

.options_title{
    font-size: 20px;
    color: $purple;
    font-weight: bold;
}