@import '../../../../util/theme.scss';

.progress_container {
    //background-color: red;
    padding: 0px;
    flex-direction: row;
    display: flex;
    margin-bottom: 40px;



    .signupas{
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }

    .input_label{
        font-size: 16px;
        color: #000;
    }






    .container{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .circle_container{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        font-weight: 400;
        color: $primary;
        border: 2px solid $primary;
    }


    .circle_container.completed{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        background-color: $primary;
    }


    .circle_container.disabled{
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        border: 0 solid ;
        background-color: #7152EB60;
    }

    

    .circle_bar_container{
        height: 3px;
        width: 50px;
        background-color: #7152EB60;
    }

    .circle_bar_container.active{
        height: 3px;
        width: 50px;
        background-color: $primary;
    }




    
    .circle_text{
       font-size: 20px;
       font-weight: 400;
       color: $primary;
    }
}