@import '../../util/theme.scss';

.navbar{
    background-color: $offWhite;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    .profile{
        width: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .refer{
        background-color: #25335A;
        color: white;
        width: 3rem;
        padding: 0.4rem 1rem 0.4rem 1rem;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .profile-icon:hover{
        cursor: pointer;
    }
}