@import '../../../util/theme.scss';

.fd-r{
    flex-direction: row;
}

.fd-c{
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.ai-c{
    align-items: center;
}
.jc-c{
    justify-content: center;
}

.d-f{
    display: flex;
}

.pos-rel{
    position: relative;
}

.full-width{
    width: 100%;
}

.tutor-profile-deatils{


    .label{
        font-size: 20px;
        color: #4715D7;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 12px;
    }

    .container{
        background-color: white;
        border-radius: 10px;
        flex-direction: column;
        overflow-y: auto;
        padding: 20px;
        justify-content: start;
        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
        }
    }

    .latest_container{
        background-color: white;
        border-radius: 10px;
        flex-direction: column;
        overflow-y: auto;
        padding: 20px;
        justify-content: start;
        &::-webkit-scrollbar{
            //width: 10px;
            height: 10px;
            
            &-thumb{
                background-color: rgba(109, 168, 255, 0.6);
                border-radius: 10px;
            }
            &-track{
                margin: 10px 0 10px 0;
                background-color: rgba(109, 168, 255, 0.15);
                border-radius: 10px;
            }
        }
    }




    .user_img{
        height: 70px;
        width: 70px;
        border-radius: 35px;
        border: 3px solid #C275FF;
    }

    .latest_user_img{
        height: 80px;
        width: 80px;
        border-radius: 40px;
        border: 3px solid #C275FF;
    }
    


}

.small_card1{
    background-color: #7E82F0;
    height: 120px;
    width: 350px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.small_card2{
    background-color: #4BBD94;
    height: 120px;
    width: 350px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}


.tutor-dash-container {
    justify-content: space-between;
    display: flex;
}

.tutor-dash-container1 {
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-right: 20px;
}

.tutor-dash-container2 {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 70%;
}

.your-profile-container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
