@import '../../../util/theme.scss';

.container {
    //align-items: center;
   // display: flex;
   // justify-content: center;
   // flex-direction: column;
}

.label-style{
    margin-bottom: 6px;
}

.heading-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $primary;
    font-weight: 500;
    font-size: 20px;
}
.content-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row-style{
    flex-direction: row;
    display: flex;
    padding: 20px;
    width: 560px;
}

.margin-left{
    margin-left: 10px;
    width: 270px;
}

.margin-right{
    margin-right: 10px;
    width: 270px;
}


.center-container{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

