*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    //background: red;
    color: #000;
    height: 100vh;
    width: 100px;
    align-items: center;
    flex-direction: column;
    display: flex;
    transition: all 0.5s;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-top-right-radius: 10px;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #000;
    padding: 10px 15px;
    width: 60px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}
.link:hover{
    // background:lightskyblue;
    // color: #000;
    // transition: all 0.5s;
}
.active{
    //background: lightskyblue;
    color: #000;
}
.icon{
    font-size:18px;
}

.link_text{
    font-size: 14px;
    color: #000;
}
