@import '../../../../util/theme.scss';

.container {
    display: flex;
    justify-content: center;
    width: max-content;

}

.scoring-container{
    margin-right: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.scoring-container-heading{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.scoring-container-sub-heading{
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.scoring-sub-heading-container{
    
}

.scoring-heading{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00000060;
    font-weight: bold;
}

.scoring-heading{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.details-row-item{
    flex-direction: row;
    display: flex;
    margin-top: 10px;
}

.details-row-item-subheading{
    color: #25335A;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.details-row-colon{
    width: 20px;
}

.details-row-item-title{
    width: 100px;
}


.details-row-section{
    width: 140px;
}

.details-row-time{
    width: 120px;
}

.details-row-ques{
    width: 140px;
}

.title-color{
    color: #000000;
    font-weight: 500;
}


.container1 {
    display: flex;
    width: 100%;
    //height: 100vh;
}

.container2 {
    padding-left: 20px;
    display: flex;
    width: 100%;
    //height: 100vh;
}

.section-container{
    flex-direction: row;
    display: flex;
    width: 100%;
}

.section{
    background-color: $lightGray;
    color: $darkGray;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}

.flex-end{
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.margin-top-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}


.section-header{
    background-color: $greyish;
    padding: 0.5rem;
    border-radius: 6px;
    display: flex;
    margin-top: 15px;
}

.section-content{
    padding: 0.5rem;
    border-radius: 6px;
    display: flex;
    margin-top: 10px;
}

.section-content-container{
    background-color: $lightBlue;
}

.section-heading{
    width: 100px;
}

.section-sub-heading{
    width: 100px;
    font-size: 14px;
    color: $darkGray;
}

.rowItem{
    flex-direction: column;
}

.viewTest{
    color: $link;
    margin-top: 8px;
    font-size: 12px;
}
.viewTest:hover{
    color: $link;
    margin-top: 8px;
    font-size: 12px;
    cursor: pointer;
}


.edit{
    color: $primary;
    font-size: 12px;
    text-decoration: underline;
}

.edit:hover{
    color: $primary;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.deleteTest{
    color: $reddish;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: underline;
}

.deleteTest:hover{
    color: $reddish;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}






.button-style{
    //background-color: red;
}

.header{
    background-color: $greyish;
    padding: 0rem;
    border-radius: 6px;
    display: flex;
    margin-top: 15px;
    width: 75vh;
    margin-bottom: 15px;
}

.row-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-title{
    color: $blackish;
    font-weight: $fontWeightBold;
}

.heading-value{
    color: $link;
    font-weight: $fontWeightBold;
}

.fontFamily{
    font-family: $quicksand;
}

.card{
    
}

.card-container{
    padding: 15px;
    border-radius: 8px;
    border: 2px solid $lightGray;
    margin-bottom: 15px;
    
}

.card-heading{
    color: $primary;
    font-size: 16px;
    font-weight: $fontWeightMedium;
    margin-bottom: 6px;
}

.card-content{
    align-items: flex-start;
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-container{
    background-color: $lightGray;
    color: $darkGray;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    flex-direction: row;
    display: flex;
}

.cross-button{
    position: relative;
    right: 20px;
    top: -0px
}

.cross-button:hover{
    cursor: pointer;
}

