@import '../../../../util/theme.scss';

.container {
    //align-items: center;
   // display: flex;
   // justify-content: center;
   // flex-direction: column;
}


.flex-start{
    justify-content: flex-start;
    display: flex;
}

.button-style{
    //background-color: red;
}

.all-test-table-header{
    flex-direction: row;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}

.all-test-table-content{
    padding: 0.1rem;
    border-radius: 10px;
    display: flex;
    //margin-top: 10px;
}

.all-test-table-content-container{
}

.all-test-heading{
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.all-test-sub-heading{
    width: 150px;
    font-size: 14px;
    color: $darkGray;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.1rem;
}

.rowItem{
    flex-direction: column;
}

.viewTest{
    color: $link;
    margin-top: 8px;
    font-size: 12px;
}
.viewTest:hover{
    color: $link;
    margin-top: 8px;
    font-size: 12px;
    cursor: pointer;
}

.editTest{
    color: $link;
    font-size: 12px;
    text-decoration: underline;
}

.editTest:hover{
    color: $link;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.deleteTest{
    color: $reddish;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: underline;
}

.deleteTest:hover{
    color: $reddish;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}


.loader_style{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 95vh;
}