@import '../../../util/theme.scss';



.container {
    //align-items: center;
   display: flex;
   // justify-content: center;
   // flex-direction: column;

    .button-style{
        //background-color: red;
    }

    .header{
        background-color: $greyish;
        padding: 0rem;
        border-radius: 6px;
        display: flex;
        margin-top: 15px;
        width: 75vh;
        margin-bottom: 15px;
    }

    .row-style{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .heading-title{
        color: $blackish;
        font-weight: $fontWeightBold;
    }

    .heading-value{
        color: $link;
        font-weight: $fontWeightBold;
    }

    .fontFamily{
        font-family: $quicksand;
    }

    .card{
       
    }

    .card-container{
        padding: 15px;
        border-radius: 8px;
        border: 2px solid $lightGray;
        margin-bottom: 15px;
        
    }

    .card-heading{
        color: $primary;
        font-size: 16px;
        font-weight: $fontWeightMedium;
        margin-bottom: 6px;
    }

    .card-content{
        align-items: flex-start;
        display: flex;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item-container{
        background-color: $lightGray;
        color: $darkGray;
        margin-right: 10px;
        margin-top: 10px;
        padding: 4px 10px 4px 10px;
        border-radius: 4px;
        flex-direction: row;
        display: flex;
    }

    .cross-button{
        position: relative;
        right: 20px;
        top: -0px
    }

    .cross-button:hover{
        cursor: pointer;
    }

}
