@import '../../../util/theme.scss';

.score_carousel{

    .title_name{
        font-size: 20px;
        color: #4715D7;
    }

    .sub_title_name{
        font-size: 20px;
        color: #4715D7;
        color: #00000080;
        margin-top: 10px;
    }
    
    .slider-container{
        position: relative;
        width: 100%;
       
    }
    
    .carousel-container{
        background: rgba(217, 217, 217, 0.3);
        border-radius: 20px;
        height: 180px;
        //padding: 15px;
    }
    
    .main-carousel{
        padding: 0px 20px 0px 20px;
        width: 100%;
    }
    .carousel-dots{
        z-index: 99999;
        bottom: 20px;
        color: white;
        position: absolute;
    }
    
    .carousel-image{
        height: 200px;
        width: 250px;
        position: absolute;
        right: 0;
    }
    
    .carousel-text{
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        color: white;
        margin: 15px 0px 0px 15px;
    }

    .score_heading{
        font-size: 24px;
    }
    
    .score_sub_heading{
        font-size: 16px;
        margin-top: 10px;
    }

    .score_container1{
        height: 70px;
        width: 160px;
        border-radius: 10px;
        background-color: #FEDCC3;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
    }

    .score_container2{
        height: 70px;
        width: 160px;
        border-radius: 10px;
        background-color: #DACDFF;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
}
